<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
</head>
<body>

<h1 th:text="${course.id == 0 ? 'Add New Course' : 'Edit Course'}"></h1>

<form method="post" th:action="@{/courses/save}" th:object="${course}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{name}">

    <select th:field="*{lecturer}">
        <option th:each="lect: ${lecturers}"
                th:value="${lect.id}"
                th:text="${lect.name}"></option>
    </select>


    <input type="submit" value="Save">
</form>

</body>
</html>